server:
  port: 8083

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: flight-service-docs
          uri: lb://flight-service
          predicates:
            - Path=/v3/api-docs/flight-service
        - id: flight-service
          uri: lb://flight-service
          predicates:
            - Path=/api/v1/flights/**

springdoc:
  enable-native-support: true
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    config-url: /v3/api-docs/swagger-config
    urls:
      - name: Flight Service
        url: /v3/api-docs/flight-service
        displayName: Flight Service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
